body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

canvas {
  display: block;
}

.popup {
  position: fixed;
  padding: 5px 1em;
  cursor: pointer;
  background: darkgreen;
  opacity: 0.7;
  color: lime;
  z-index: 10000;
  border-radius: 5px;
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 0px 15px white ;
  font-family: monospace;
}

#help {
  top: 5px;
  left: 5px;
  margin: 5px;
  background-color: darkred;
  color: lightpink;
}

#info {
  bottom: 5rem;
  width: 50%;
  margin-left: 25%;
  font-size: x-large;
  text-align: center;
}

.info-row {
  display: flex;
  justify-content: space-evenly;
}

.stats {
  position: fixed;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
  opacity: 0.9;
  z-index: 10000;
}

.hidden {
  visibility: hidden;
  margin-left: auto;
}

.too-many-moves {
  color: red;
}
